.h1 {
    font-size: 3rem;
    font-weight: 600;
    padding-left: 2rem;
    width: 60rem;
}
.h2 {
    margin-right: 60rem;
    font-weight: 700;
    padding-left: 4rem;
    margin-left: 10rem;
    width: 10rem;
}
.TotalProducts {
    font-weight: normal!important;
    padding-bottom: 2rem!important;;
    color: #c3c0c0;
}
.img {
    width: 12rem;
    height: 12rem;
    margin-bottom: 1rem;
}
.ProductContainer {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    flex-direction: row;
    padding-left: 42rem;
    margin-right: 42rem;
    width: 62rem
}
.ProductShowcaseContainer {
    display: flex;
}
.CheckboxesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 70rem;
    padding-left: 1rem;
}
.Product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
}
.ProductItem {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.ProductPrice {
    font-size: 1.6rem;
    height: 2rem;
    font-weight: bold;
}
.ProductPriceContainer {
    display: flex;
    align-items: baseline;
}
.ProductSalePriceContainer {
    display: flex;
    align-items: baseline;
}
.from {
    margin-right: 1rem;
    font-size: 1.35rem!important;
}
.sale {
    color: red;
    font-size: 1rem!important;
    height: 2rem!important;
    margin-right: 1rem;
}
.displayNone * {
    display: none!important;
}
.Categorybox {
    margin-right: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}