.h1 {
    font-size: 3rem;
    font-weight: 600;
    padding-left: 2rem;
    width: 60rem;
}
.h2 {
    font-weight: 700;
    min-width: max-content;
}
.TotalProducts {
    font-weight: normal!important;
    padding-bottom: 2rem!important;;
    color: #c3c0c0;
}
.img {
    width: 12rem;
    height: 12rem;
    margin-bottom: 1rem;
}
.ProductContainer {
    display: flex;
    flex-direction: row;
    width: 70rem;
}
.ProductLink {
    width: min-content;
    text-decoration: none!important;
}
.ProductB {
    text-decoration: none;
    color: white;
}
.AccountName {
    margin: 1rem;
}
.CheckboxesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-left: 4rem;
}
.Product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
}
.ProductItem {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.ProductPrice {
    font-size: 1.6rem;
    height: 2rem;
    font-weight: bold;
}
.ProductPriceContainer {
    display: flex;
    align-items: baseline;
}
.ProductSalePriceContainer {
    display: flex;
    align-items: baseline;
}
.from {
    margin-right: 1rem;
    font-size: 1.35rem!important;
}
.sale {
    color: red;
    font-size: 1rem!important;
    height: 2rem!important;
    margin-right: 1rem;
}
.displayNone * {
    display: none!important;
}
.Categorybox {
    margin-right: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.filterContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 145rem;
}
.filterContainer *{
    width: min-content;
}
.selectInput {
    height: 2rem!important;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: large;
}