.button p, img {
    color: #e8e6e3;
    font-size: x-large;
    font-family: "Roboto", sans-serif;
}
.button a {
    text-decoration: none;
    display: flex;
    width: min-content;
    padding-left: 10%;
}
.button {
    color: #e8e6e3;
    border-radius: 10px;
    border: 1px solid #dedede;
}