.input {
    background-color: #181a1b;
    color: #e8e6e3;
    border-radius: 20px;
    border: 2px solid var(--main-bg-accentColor);
    width: 90%;
    height: 2em;
    outline: none;
    margin-left: 3%;
    margin-top: 25px;
    padding-left: 2%;
    flex-wrap: nowrap;
    box-shadow: rgba(2, 24, 49, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.input:focus {
    border: 2px solid #1673b0;
    outline-offset: 0;
  }
.input-error {
    border: 2px solid #eb1919;
  }
.input-error:focus {
    border: 2px solid #eb1919;
    outline-offset: 0;
  }