.ImgButton {
    color: var(--main-bg-textColor);
    font-size: x-large;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    width: 40.5rem;
}
.Img {
    height: 4rem;
}
.Link {
    text-decoration: none!important;
    height: min-content;
    color: var(--main-bg-textColor);
    display: flex;
    padding: 0;
}
.p {
    margin-top: 63%;
    margin: 0;
    display: flex;
    height: min-content;
}