.CouponInput {
    margin-left: 0!important;
    margin-top: 0!important;
    border: 1px solid var(--main-bg-accentColor);
    height: min-content;
    box-shadow: 0;
    padding: 1rem;
    font-size: large;
}
.CouponInput:disabled {
    border: 1px solid var(--main-bg-accentColor);
    color:  var(--main-bg-accentColor);
    background-color: var(--main-bg-accentColorAlt);
    cursor: not-allowed;
}
.CouponInput:active {
    box-shadow: none!important;
}
.CouponContainer {
    width: 18rem;
    padding-top: 1rem;
}
.FormContainer {
    height: 4rem;
    width: 100%;
}
.FormContainerHidden {
    display: none!important;
}
.DropdownContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: large;
    cursor: pointer;
}
.DropdownButtonUp {
    rotate: -90deg;
    transform: scaleY(1.5);
    font-size: large;
    border: none;
    background-color: var(--main-bg-accentColorAlt);
    color: white;
}
.DropdownButtonDown {
    rotate: 90deg!important;
    transform: scaleY(1.5);
    font-size: large;
    border: none;
    background-color: var(--main-bg-accentColorAlt);
    color: white;
}
.button {
    border: none;
    background-color: var(--main-bg-accentColorAlt);
}
.button p {
    font-size: large;
    color: white;
}
#CouponForm {
    display: flex;
    flex-direction: row;
    box-shadow: none;
    padding-top: 0.5rem;
    align-items: center;
}
#CouponCodeInput {
    width: 11rem;
    text-indent: 10px;
}
#CouponInputButtonLoading { 
    width: 2rem;
    height: 2rem;
    border: 4px solid var(--main-bg-textColor);
    color: #181a1b;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes textflydown {
    from  {
        transform: translateY(-1rem);
    }
    to  {
        transform: translateY(0.1rem);
    }
}
textflyup {
    from  {
        transform: translateY(0.1rem);
    }
    to  {
        transform: translateY(-1rem);
    }
}
#CouponInputError {
    color: rgb(199, 1, 1);
    z-index: 1;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-top: 1.25rem;
    font-size: small;
    animation: textflydown 100ms linear;
    animation-duration: 200ms;
}