.container {
    display: flex;
    align-items: self-start;
    justify-content: center;
    width: 100%;
}
.signInContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--main-bg-accentColorAlt);
    width: 25rem;
    padding: 4rem;
    margin-top: 8rem;
}

.OrHorizontalContainer {
    display: flex;
    align-items: anchor-center;
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.OrHorizontalP {
    padding-left: 1rem;
    padding-right: 1rem;
}
.HorizontalAccent {
    border-top: 2px solid  var(--main-bg-accentColor);
    width: 100%;
}

.OrVerticalContainer {
    display: flex;
    flex-direction: column;
    align-items: anchor-center;
    margin-top: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.OrVerticalP {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.VerticalAccent {
    border-left: 2px solid var(--main-bg-accentColor);
    height: 13rem;
}
.button {
    width: 90%!important;
    font-weight: bold;
    color: white;
}
.buttonClear {
    background-color: transparent!important;
    color: var(--main-bg-accentColor)!important;
    width: 90%!important;
    color: white!important;
    font-weight: bold;
}
.p3 {
    margin: 0;
    padding-bottom: 1rem!important;
}
.p2 {
    font-size: large;
    margin: 0;
    padding-bottom: 0.5rem;
}
.p {
    font-size: x-large!important;
}

.BenfitsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.Checkmark {
    color: #2f733c;
    padding-right: 0.5rem;
}
.CheckmarkContainer {
    display: flex;
    flex-direction: row;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}
.formInput { 
    height: 3rem!important;
    font-size: larger;
    margin: 0!important;
    margin-bottom: 0.5rem!important;
}
.formInput:focus { 
    border: 1px solid var(--main-bg-accentColor);
    outline-offset: 0;
}
.formInputRadio {
    width: min-content!important;
    margin: 0!important;
    height: min-content!important;
    width: min-content!important;
    border: 1px solid#2f733c;
    
} 
.formRadioLabelContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin-top: 1rem;
}
.formRadioLabel {
    text-align: left!important;
}
.formErrorLabel {
    margin-top: 0.5rem;
    font-size: large!important;
}