.footer {
    color: black;
    background-color: white;
    padding-right: 1rem!important;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.privacy {
    border-left: 1px solid black;
    padding-left: 1rem!important;
    text-decoration: none;
}
.legal {
    text-decoration: none;
    margin-left: 1rem;

}
.footercontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 42rem;
}