.heading {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: xx-large;
  text-align: left;
  margin: 0;
  padding-left: 3%;
  padding-top: 3%;
}
#paymentheading {
  font-size: x-large;
  text-align: left;
  padding-left: 3%;
}
#paymentSubtext {
  font-size: large;
  text-align: left;
  padding-left: 3%;
}
.payment {
  height: min-content!important;
  padding-bottom: 0!important;
  margin: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-accentColorAlt);
}
.containerHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.form {
  outline: 0 !important;
  box-sizing: border-box;
  text-align: left;
  border-radius: 6px;
  border: 1px solid var(--main-bg-accentColor);
  margin-top: 2rem;
  margin-left: 2rem;
  padding-bottom: 1rem;
  width: 45rem;
  height: min-content;
}
.deliveryText {
  align-items: baseline!important;
  margin-top: 1rem!important;
  margin-left: 1rem!important;
}
.b {
  margin-top: 0.5rem!important;
}
.p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: large;
  text-align: left;
  padding-left: 3%;
}
.pPrivacy a {
  text-decoration: underline!important;
  color: #6ebe49!important;
}
.pPrivacy {
  font-family: "Roboto", sans-serif;
  text-align: left;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--main-bg-accentColor)!important;
}
.radioLabel {
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: #6ebe49!important;
}
.inputSplitContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  justify-content: center!important;
  width: 97%!important;
}
#securitycode {
  width: 7em;
  display: block;
  margin-left: 15px;
}
#expireDate {
  width: 12em;
  margin-left: 3%;
}
#securitycodeBlock {
  display: flex;
}
#cardnumber {
  width: 90%;
  margin-left: 3%;
  display: flex;
}
#paymentContainer  {
  margin-top: 2%;
  padding-bottom: 5%;
  display: none;
}
#submit {
  width: 1rem!important;
  border-radius: 0%;
  height: 3em;
  outline: none;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: large;
  margin-bottom: 1rem;
}
#submit:focus {
  background-color: #7e8a90;
}
#submit:hover {
  background-color: #7e8a90;
}
#submit:active {
  box-shadow:
    inset -2px -2px 3px #7e8a90,
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}