.heading {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: xx-large;
  text-align: center;
}
.form {
  border-radius: 20px;
  border: 1px solid var(--main-bg-accentColor);
  outline: 0 !important;
  box-sizing: border-box;
  margin-left: 125px;
  margin-top: 25px;
  width: 28em;
  padding-bottom: 3%;
}
.p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: large;
  text-align: center;
  margin-bottom: 5%;
}
.inputfirstlast {
  background-color: #181a1b;
  color: var(--main-bg-textColor);
  border-radius: 20px;
  border: 2px solid var(--main-bg-accentColor);
  width: 14em;
  height: 2em;
  margin-left: 4%;
  padding-left: 2%;
  flex-wrap: nowrap;
  outline: none;
}
.inputfirstlast:focus {
  border: 2px solid #1673b0;
}
.inputsubmit input {
  background-color: #181a1b;
  border-radius: 20px;
  border: 2px solid var(--main-bg-accentColor);
  width: 14em;
  height: 2em;
  margin: 1%;
  padding-left: 2%;
  flex-wrap: nowrap;
  outline: none;
}
.inputfirstlast input:focus {
  border: 2px solid #1673b0;
}
.input:focus {
  border: 2px solid #1673b0;
}
.select {
  background-color: #181a1b;
  color: var(--main-bg-textColor);
  border-radius: 20px;
  border: 2px solid #e8e6e3;
  width: 15em;
  height: 2em;
  margin-left: 125px;
  margin-top: 25px;
  outline: none;
  padding-left: 3%;
}
.select:focus {
  border: 2px solid #1673b0;
}
#submit {
  background-color: #181a1b;
  color: #e8e6e3;
  border-radius: 20px;
  border: 1px solid var(--main-bg-accentColor);
  width: 15em;
  height: 2em;
  margin-left: 28%;
  margin-top: 6%;
  margin-bottom: 3%;
  flex-wrap: nowrap;
  outline: none;
  display: flex;
}
#submit:focus {
  border: 2px solid #1673b0;
}