.shippingheading {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin: 1%;
  font-size: xx-large;
}
.shippingform {
  display: bable-row;
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  width: 100%;
}
.shippinginput {
  margin: 1%;
}
.CanadianProvinces {
  display: none;
  margin: 1%;
  max-width: 15em;
}
.shippingselect {
  margin: 1%;
  max-width: 15em;
}