.formcontainer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50%;
    height: 100%;
    justify-content: center;
}
.submit {
    width: 7rem;
    align-items: center;
    margin-bottom: 3rem;
}
.submit input { 
    margin-top: 2rem;
    cursor: pointer;
}