:root
{
    line-height: normal;
}
a {
    text-decoration: none;
}
#MainSiteTitle {
    color: rgb(41, 51, 47); /* Random literal color */
    font-family: Sixtyfour;
    text-align: center;
}
#MainSiteSlogan {
    color: rgb(41, 51, 47); /* Random literal color */
    font-family: Sixtyfour;
    font-size: initial;
    text-align: center;
}
footer
{
    color: rgb(73, 209, 164); /* Random literal color */
    font-family: IBM Plex Mono;
}