:root
{
    line-height: normal;
    list-style-position: inside;
    justify-items: center;
    align-items: center;
}
.MainSiteGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
     "header"
     "main"
     "footer"
}
a {
    text-decoration: none;
    color:black;
}
.MainSiteHeader {
    color: rgb(41, 51, 47); /* Random literal color */
    font-family: Roboto Mono;
    grid-template-areas: 'header';
    display: grid;
    text-align: center;
}
.MainSiteSlogan {
    color: rgb(41, 51, 47); /* Random literal color */
    font-family: Roboto Mono;
    font-size: initial;
    text-align: center;
}
.MainSiteGrid footer
{
    color: rgb(29, 1, 133); /* Random literal color */
    font-family: IBM Plex Mono;
    font-size: x-large;
    font-weight: 900;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 6px;
    grid-template-areas: 'footer';
    display: grid;
    text-align: center;
}
.MainSiteNavList {
    padding-left: 1.5em;
    font-size: large;
}
ul {
    padding-left: 1.5em;
    font-size: large;
}
ol {
    font-size: large;
    line-height: 150%;
}
.MainSiteGrid p {
    font-size: x-large;
    text-align: center;
}
.MainSiteGrid article {
    font-family: Open Sans;
    grid-template-areas: 'main';
    display: grid;
}
articleContent {
    text-align: center;
    list-style-position: inside;
}
img {
    border-radius: 4px;
}
h2 {

    text-transform: capitalize;
    font-family: Open Sans;
    background-color: rgb(65, 65, 65);
    line-height: 150%;
    font-weight: bolder;
    border-radius: 4px;
    color:skyblue;
    padding: 12px;
    text-align: center;
}
b {
    font-size: larger;
}
form {
    padding: 2%;
}
input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

  }
.MainSiteGrid articleImage > *{
    font-family: Open Sans;
    grid-template-areas: 'main';
}
.MainSiteContactMessage {
    padding: 128px 20px;
    text-indent: -512px;
}
button {
    background-color: skyblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}