:root
{
    line-height: normal;
    list-style-position: inside;
}
.MainSiteFlex {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
@media (width <= 400px) {
    img {
        width: 128px;
        height: 128px;
    }
}
@media (width <= 400px) and (width <= 800px) {
    img {
        width: 128px;
        height: 128px;
    }
}
@media (width >= 800px) {
    img {
        width: 256px;
    }
}
.MainSiteGrid {
    display: grid;
    width: 100%;
  grid-template-areas:
    "header header"
    "aside main"
    "aside main"
    "footer footer";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
a {
    text-decoration: none;
    color:black;
}
.MainSiteHeader {
    color: rgb(41, 51, 47); /* Random literal color */
    font-family: Roboto Mono;
    grid-area: header;
    display: grid;
    text-align: center;
}
.MainSiteSlogan {
    color: rgb(41, 51, 47); /* Random literal color */
    font-family: Roboto Mono;
    font-size: initial;
    text-align: center;
}
.MainSiteGrid footer
{
    color: rgb(29, 1, 133); /* Random literal color */
    font-family: IBM Plex Mono;
    font-size: x-large;
    font-weight: 900;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 6px;
    grid-area: footer;
    display: grid;
    text-align: center;
}
.MainSiteNavList {
    padding-left: 1.5em;
    font-size: large;
}
ul {
    padding-left: 1.5em;
    font-size: large;
}
ol {
    font-size: large;
    line-height: 150%;
}
.MainSiteGrid p {
    font-size: x-large;
    text-align: left;
}
.MainSiteGrid article {
    font-family: Open Sans;
    grid-area: main;
    display: grid;
}
articleContent {
    text-align: center;
    list-style-position: inside;
}
img {
    border-radius: 4px;

}
.MainSiteAsideAdvert {
    display: grid;
    grid-area: aside;
    padding: 20px;
    text-align: left;
}
h2 {

    text-transform: capitalize;
    font-family: Open Sans;
    background-color: rgb(65, 65, 65);
    line-height: 150%;
    font-weight: bolder;
    border-radius: 4px;
    color:skyblue;
    padding: 12px;
    text-align: center;
}
b {
    font-size: larger;
}
form {
    padding: 2%;
}
input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

  }
.MainSiteGrid articleImage > *{
    font-family: Open Sans;
    grid-area: main;
    text-align: center;
}
.MainSiteContactMessage {
    padding: 128px 20px;
    text-indent: -512px;
}
button {
    background-color: skyblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}