.span {
    font-size: large;
    margin-top: 1.5rem
}
.spanLarge {
    font-size: x-large!important;
    margin-top: 3rem!important;
}
.p {
    font-size: large;
    font-weight: bold;
    margin: 0;
}
.pItemCount {
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.psale {
    color: red;
    font-size: large;
    font-weight: bold;
    margin: 0;
}
.button {
    background-color: #2fac10; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    margin-top: 1rem;
    min-width: 17rem;
    padding: 0.75rem;
}
.buttonColored {
    background-color: black;
    border: 1px solid var(--main-bg-accentColor);
}
.emptycart {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}



.cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.img {
    width: 7rem;
    height: 7rem;
    padding: 1rem;
}
.button {
    background-color: transparent;
    border-color: transparent;
    height: 1rem;
    cursor: pointer;
    align-items: flex-end!important;
}
.cartItemPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartitems {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-accentColorAlt);
    width: 100%;
    align-items: flex-end;
}
.item {
    border-bottom: 1px solid #181a1b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
}
.cartInfo { 
    display: flex;
    flex-direction: column;
    min-width: 50%;
}
.input {
    width: 3rem;
    height: 2rem;
    padding-left: 2rem;
    align-items: flex-end;
}
.infopanel a {
    background-color: var(--main-bg-accentColorAlt);
    text-decoration: none;
    font-weight: normal;
    color: #2fac10;
    padding: 1rem;
}