.CheckoutCartContainer {
       width: 30rem;
       border-left: 1px solid var(--main-bg-accentColor);
       padding-top: 3rem;
       padding-left: 3rem;
       padding-right: 1rem;
}
.CheckoutCartItem {
       position: relative;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding-bottom: 0.70rem;

}
.CheckoutCartSubtotal {
       position: relative;
       align-items: center;
       display: flex;
       justify-content: space-between;
}
.p {
       font-size: medium;
       font-weight: 400;
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       padding-left: 1rem;
       margin-bottom: 0;
}
.pItemPrice {
       font-size: medium;
       height: min-content;
       
}
.pSubtotal {
       font-size: medium;
       font-weight: bold;
       padding-left: 0!important;
       margin: 0!important;
}
#pLight {
       font-weight: 400;
}
#pCurrency {
       font-size: medium!important;
       font-weight: lighter!important;
       display: flex!important;
       align-items: center!important;
       height: min-content!important;
}
.pTotal {
       font-size: large;
       font-weight: bold;
       padding: 0;
       margin: 0;
       display: flex;
}
.pShippingTotal {
       font-size: medium;
       font-weight: lighter;
}
.quantityNumber {
       background-color: rgb(87, 87, 87);
       border-radius: 50%;
       width: min-content;
       padding-top: 0.25rem;
       padding-bottom: 0.25rem;
       padding-left: 0.5rem;
       padding-right: 0.5rem;
       color: white;
       position: absolute;
       z-index: 50;
       top: -1rem;
       right: 2rem;
       left: 3rem;
       font-size: small;
       font-weight: bolder;
}
.img {
       border-radius: 6px;
       height: 4rem;
       width: 4rem;
}