.CheckoutCartContainer {

       border: 1px solid var(--main-bg-accentColor);
       border-radius: 6px;
       margin-top: 2rem;
       margin-bottom: 2rem;
       margin-left: 4rem;

}
.CheckoutCartInfoItem {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       padding-left: 1rem;
}
.CheckoutCartInfoItemContainer {
       display: flex;
       padding-bottom: 0.70rem;
       flex-direction: row;
       justify-content: space-between;
       width: 15rem;

}
.CheckoutCartInfoContainer {
       display: flex;
       flex-direction: row;
       border-bottom: 1px solid var(--main-bg-accentColor);
       margin-right: 1rem!important;
       margin-left: 1rem!important;
       margin-top: 1rem!important;
}
.CheckoutCartSubtotal {
       position: relative;
       align-items: center;
       display: flex;
       justify-content: space-between;
       padding-left: 1rem;
       padding-right: 1rem;
}
.p {
       font-size: large;
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       margin: 0!important;
       margin-bottom: 0.5rem!important;
}
.border {
       border-bottom: 1px solid var(--main-bg-accentColor);
       margin-bottom: 0.5rem!important;
       padding-bottom: 0.5rem!important;
       margin-right: 1rem!important;
       margin-left: 1rem!important;
}
.noborder {
       border-bottom: none!important;
}
.pItemPrice {
       font-size: large;
       height: min-content!important;
       width: min-content!important;
       margin: 0!important;
}
.pItemPriceRed {
       font-size: large;
       height: min-content;
       color: red;
       margin-top: 0.5rem!important;
}
.CheckoutCartInfoItemPrice {
       display: flex;
       padding-bottom: 0.70rem;
       flex-direction: column;
}
.pTotal {
       font-size: larger;
       padding-top: 0!important;
       padding-bottom: 0!important;
       margin-right: 1rem!important;
       margin-left: 1rem!important;
}
#pLight {
       font-weight: 400;
}
#pCurrency {
       font-size: medium!important;
       font-weight: lighter!important;
       display: flex!important;
       align-items: center!important;
       height: min-content!important;
}
.pShippingTotal {
       font-size: medium;
       font-weight: lighter;
}
.img {
       border-radius: 6px;
       height: 6rem;
       width: 6rem;
       padding-left: 1rem;
}

.CheckoutCartTitle {
       font-weight: bold;
       margin: 0;
       background-color: var(--main-bg-accentColor);
       border: 1px solid var(--main-bg-accentColor);
       border-radius: 4px;
       padding-left: 1rem;
}
.button {
       background-color: transparent!important;
       border: 1px solid var(--main-bg-accentColor);
       margin: 1rem;
       min-width: 92%!important;
       margin-left: 1rem!important;
       margin-right: 1rem!important;
       padding-top: 0.5rem!important;
       padding-bottom: 0.5rem!important;
}