.CheckoutCart {
       padding-top: 2%;
       padding-left: 2%;
       text-align: left;
       min-width: 20em;
       position: relative;
}
.p {
       font-size: x-small;
       margin: 1%;
       font-weight: lighter;
       font-size: small;
}
.quantityNumber {
       background-color: rgb(133, 133, 133);
       border-radius: 50%;
       color: white;
       font-size: small;
       position: absolute;
       z-index: 50;
       top: -1em;
       right: 0;
       left: 5em;
       font-weight: 500;
       vertical-align: middle;
       display: inline;
       width: 1rem;
       text-align: center;
}