.navbar {
    border: 1px solid var(--main-bg-accentColor);
    width: 100%;
    display: flex;
    justify-content: center;
}
.span {
    font-size: large;
    margin-top: 1.5rem
}
.spanLarge {
    font-size: x-large!important;
    margin-top: 3rem!important;
}
.button {
    background-color: #2fac10; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    margin-top: 1rem;
    min-width: 17rem;
    padding: 0.75rem;
}
.buttonColored {
    background-color: black;
    border: 1px solid var(--main-bg-accentColor);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}
.footer {
    color: black;
    background-color: white;
    padding-right: 1rem!important;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.privacy {
    border-left: 1px solid black;
    padding-left: 1rem!important;
    text-decoration: none;
}
.legal {
    text-decoration: none;
    margin-left: 1rem;
}
.footercontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}