.span {
    font-size: x-large;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.spanLarge {
    font-size: xx-large;
    padding-top: 4rem;
    padding-bottom: 1rem;
}
.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}