.span {
    font-size: x-large;
    margin-top: 2rem
}
.spanLarge {
    font-size: xx-large!important;
    margin-top: 3rem!important;
}
.button {
    background-color: #2fac10; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    margin-top: 1rem;
    min-width: 20rem;
    padding: 1rem;
}
.buttonColored {
    background-color: black;
    border: 1px solid var(--main-bg-accentColor);
}
.footer {
    color: black;
    background-color: white;
    text-decoration: none;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}
.privacy {
    border-left: 1px solid black;
    padding-left: 0.25rem;
}