.form {
    border-radius: 20px;
    border: 1px solid #dedede;
    outline: 0 !important;
    box-sizing: border-box;
    color: #e8e6e3;
    margin-left: 125px;
    margin-top: 25px;
    width: 28em;
    padding-bottom: 3%;
  }
  .p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: large;
    text-align: center;
    margin-bottom: 5%;
  }
  .heading {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: large;
    color: #e8e6e3;
    text-align: center;
  }