.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: min-content;
}
.label {
    margin-left: 0.75rem;
}
.input {
    background-color: var(--main-bg-accentColorAlt);
    color: #e8e6e3;
    border: 1px solid var(--main-bg-accentColor);
    width: 95%;
    height: 2rem;
    outline: none;
    margin-top: 0.5rem;
    flex-wrap: nowrap;
    border-radius: 6px;
    border: 1px solid var(--main-bg-accentColor);
    margin-left: 0.75rem;
}
.input:disabled {
  box-shadow: none;
}
.input-error {
  border: 1px solid #eb1919;
}
.message {
  color: #a5a5a5!important;
  visibility: visible!important;
  padding-bottom: 1rem;
  margin-left: 1rem;
}

.error_message {
  color: #eb1919!important;
  padding-bottom: 1rem;
  margin-left: 1rem;
}
.invisible {
  visibility: hidden!important;
}
.displayNone {
  display: none!important;
}
.span {
  user-select: none;
}
.spanError {
  user-select: none;
  color: #eb1919!important;
}