.CheckoutFooter {
    padding: 3%;
    border-top: 1px solid var(--main-bg-accentColor);
    width: 85%;
}
.CheckoutFooter a  {
    font-size: small;
    padding-right: 1rem;
    color: #538fff;
    text-decoration: underline;
}