.select {
    background-color: var(--main-bg-accentColorAlt);
    color: var(--main-bg-textColor);
    width: 95%;
    height: 2rem;
    margin-left: 0.75rem;
    margin-top: 25px;
    outline: none;
    padding-left: 1%;
  }
  .select:focus {
    border: 2px solid #1673b0;
  }