.navbar {
    display: flex;
    height: 5rem;
    justify-items: right;
    align-items: end;
    justify-content: space-between;
}
.navbarcontainer {
    border-bottom: 1px solid var(--main-bg-accentColor);
    display: flex;
    justify-content: center;
    width: 100%;
}
.centered * {
    width: min-content!important;
}
.noncentered {
    width: 65rem!important;
}
.badge {
    background-color: rgb(87, 87, 87);
    border-radius: 50%;
    min-width: min-content;
    padding-top: 0.2rem;
    padding-bottom: 0.30rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    z-index: 50;
    font-size: small;
    font-weight: bold;
    position: absolute;
    left: -1.3rem;
    top: -2rem;
    height: min-content;
    cursor: pointer;
}
.hidden {
    visibility: hidden;
}
.cart {
    justify-content: flex-end!important;
}
.cart img {
    width: 3rem;
    height: 3rem;
}