.navbar {
    color: var(--main-bg-textColor);
    border-bottom: 1px solid var(--main-bg-accentColor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart {
    padding-left: 70rem;
}
.cart img {
    width: 2rem;
    height: 2rem;
}