:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  height: 100%;
}
body {
  background-color: #181a1b;
  color: #e8e6e3;
  --main-bg-accentColor: #393e40;
  --main-bg-accentColorAlt: #232526;
  --main-bg-textColor: #e8e6e3;
  height: max-content;
  margin: 0;
  overflow-x: hidden;
}
.hide {
  visibility: hidden;
  display: block;
}
a {
  text-decoration: none;
}