:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #181a1b;
  color: #e8e6e3;
  --main-bg-accentColor: #393e40;
  --main-bg-textColor: #e8e6e3;
}
.hide {
  visibility: hidden;
  display: block;
}
footer {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-top: 1%;
  padding-bottom: 4%;
  font-size: large;
  text-align: center;
  color: #e8e6e3;
}
a {
  text-decoration: none;
}