.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    align-items: start;
    margin-top: 8rem;
}
.containerCart {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    align-items: start;
    margin-top: 8rem;
    overflow-y: auto;
    max-height: 20rem;
}
.containerProductInfo {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 25rem;
    margin-left: 2rem;
}
.p {
    font-size: 150%;
    width: 100%;
}
.h2 {
    font-size: 400%;
    margin-bottom: 5rem;
}
.h2model {
    font-size: 50%;
    font-weight: normal;
    margin-top: 0.75rem;
}
.ProductImg {
    height: 20rem;
    width: 20rem;
}
.pDiscount {
    color: #eb1919;
    margin-left: 1rem;
    margin-right: 1rem;
}
.instock {
    font-size: 100%;
    font-weight: normal;
    color: #2fac10;
    margin-top: 1rem;
}
.AddtoCart {
    background-color: #2fac10;
    color: white;
    width: 80%;
    border: none;
    cursor: pointer;
    margin-left: 2rem;
    font-size: large;
    padding: 1rem;
}
.AddtoCart:hover {
    background-color: #39c216;
}

.itemAmountControl {
    background-color: var(--main-bg-accentColor);
    min-width: min-content;
        padding: 1rem;
}
.itemAddToCartContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 2.90rem;
}
.itemCursor {
    cursor: pointer;
    user-select: none;
}
.itemWidth {
    width: 2rem;
    display: flex;
    justify-content: center;
}
.pSaleRed {
    color: #eb1919!important;
}

.ImgButton:hover .MiniCartContainer {
    display: block;
}
.MiniCartContainer:hover {
    display: block;
}
.MiniCartContainerAlt {
    position: relative;
}
.MiniCartContainer {
    display: none;
    position: relative;
}
.MiniCartContainer:hover {
    visibility: visible!important;
    background-color: #808080;

}
.MiniCart {
    position: absolute;
    padding: 2.5rem;
    background-color: var(--main-bg-accentColor);
    left: -26rem;
    top: 1.5rem;
    font-size: 0.9rem;
    width: 21rem;
    max-height: 20rem;
}