.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 60rem;
    align-items: center;
}
.containerProductInfoCart {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 25rem;
    margin-left: 2rem;
}
.containerProductInfo {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 25rem;
    height: 35rem;
    margin-left: 2rem;
}
.containerCart {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--main-bg-accentColorAlt) var(--main-bg-accentColor);
    height: 12rem;
    padding: 1rem;
    border-bottom: 1px solid var(--main-bg-accentColor);
}
.containerCartItem {
    display: flex;
    align-items: flex-start;
    border: 1px solid var(--main-bg-accentColorAlt);
}
.containerCartItemTrash {
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.containerCartInfo {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-direction: column;
    height: 15rem;
}
.trashImg {
    width: 2rem!important;
    height: 2rem!important;
    cursor: pointer;
    margin-right: 1rem;
}
.pBluebar {
    margin-top: 1rem;
}
.p {
    font-size: 150%;
    width: 100%;
}
.h1 {
    margin: 0;
}
.h2 {
    font-size: 400%;
    margin-bottom: 5rem;
}
.h2model {
    font-size: 50%;
    font-weight: normal;
    margin-top: 0.75rem;
}
.ProductImg {
    height: 40rem;
    width: 40rem;
}
.pDiscount {
    color: #eb1919;
    margin-left: 1rem;
    margin-right: 1rem;
}
.instock {
    font-size: 100%;
    font-weight: normal;
    color: #2fac10;
    margin-top: 1rem;
}
.AddtoCart {
    background-color: #2fac10;
    color: white;
    width: 80%;
    border: none;
    cursor: pointer;
    margin-left: 2rem;
    font-size: large;
    padding: 1rem;
}
.AddtoCart:hover {
    background-color: #39c216;
}
.AltButtonInfo {
    width: auto!important;
    margin-left: 0!important;
    text-decoration: none!important;
    text-align: center;
}
.AltButtonShopping {
    background-color: var(--main-bg-accentColor);
    border: solid 1px var(--main-bg-accentColorAlt);
    text-decoration: none!important;
    text-align: center;
}
.AltButtonShopping:hover {
    background-color: #707779;
}
.itemAmountControl {
    background-color: var(--main-bg-accentColor);
    width: 1rem;
    padding: 1rem;
    border: none;
    color: white;
    background: var(--main-bg-accentColor);

}
.itemAmountControlPlus {
   height: 1.5rem!important;
}
.itemAddToCartContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 2.90rem;
}
.itemAddTo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.itemAddTo * {
 padding: 0.2rem;
 width: 1.5rem;
}
.itemCursor {
    cursor: pointer;
    user-select: none;
}
.pSaleRed {
    color: #eb1919!important;
}

.ImgButton:hover .MiniCartContainer {
    display: block;
}
.MiniCartContainer:hover {
    display: block;
}
.MiniCartContainerAlt {
    position: relative;
}
.MiniCartContainer {
    display: none;
    position: relative;
}
.MiniCartContainer:hover {
    visibility: visible!important;
}
.displayBlock {
    display: block!important;
}
.pMessage {
    margin-top: 2rem;
}
.bCheckmark {
    color: #39c216;
}
.bCheckmarkRed {
    color: #eb1919;
}
.MiniCart {
    position: absolute;
    padding: 2rem;
    background-color: var(--main-bg-accentColorAlt);
    border: solid 1px var(--main-bg-accentColor);
    left: -22rem;
    top: 1.5rem;
    font-size: 0.9rem;
    width: 22rem;
}
.MiniCartImg {
    width: 5rem!important;
    height: 5rem!important;
}
.MiniCartItem {
    display: flex;
}
.LoginContainer {
    display: flex;
}
.LoginImg {
    width: 2rem;
    height: 2rem;
}
.LoginDiv {
    margin-right: 1rem;
}