.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    align-items: start;
}
.containerProductInfo {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 1rem;
    margin-top: 9rem;
    height: 15rem;
    width: 20rem;
}
.p {
    font-size: 150%;
    width: 100%;
}
.h2 {
    font-size: 400%;
}
.h2model {
    font-size: 75%;
    font-weight: normal;
    margin-top: 0.75rem;
}
.ProductImg {
    height: 20rem;
    width: 20rem;
    margin-top: 11.55rem;
    margin-right: 2rem;
}
.instock {
    font-size:115%;
    font-weight: normal;
    color: #2fac10;
}